// Variáveis
$primary-color: #121214;
$secondary-color: #202024;
$component-color: #5352ed;
$btnHover-color: #3e29fc;
$text-color: #fbfbfb;

// Tipografia
// $body-font: 'Fira Code', monospace; 
@mixin tipografia{
	font-family: 'Fira Code', monospace;
}

// Tamanho de fonts
$text-small: 14px;
$text-medium: 16px;
$text-big: 18px;
$title-small: 24px;
$title-medium: 32px;
$title-big: 48px;

// Peso das fonts
$font-medium: 500;
$font-semi-Bold: 600;

//Configurações do z-index
$z-navbar-fixed: 10;

::-webkit-scrollbar{
	width: 10px;
}

::-webkit-scrollbar-track{
	background-color: $primary-color;
	border-radius: 10px
}

::-webkit-scrollbar-thumb{
	background-color: #fbfbfb;
	border-radius: 5px;
}
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html{
	scroll-behavior: smooth;
}

body{
	margin: 0 0 .1rem 0;
	@include tipografia;
	font-size: $font-medium;
	background-color: $primary-color;
	color: $text-color;
}

h1, h2, h3, h4{
	color: $text-color;
	font-weight: $font-semi-Bold;
}

.container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
	padding: 0 50px;
}

.alerta{
	max-width: 800px;
	display: block;
	border-radius: 5px;
	padding: 120px 0 40px 0;
	margin: 0 auto;
	font-size: $title-big;
	color: orangered;
	background: $secondary-color;
	text-align: center;
	z-index: -100px;
}

// Título de Sessão.
@mixin Titulo {
	font-size: $title-medium;
  line-height: 24px;
  margin-bottom: 21px;
}

