// Resets
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Fira Sans", sans-serif;
  
}
li {
  list-style: none;
}
p {
  font-family: "Roboto", sans-serif;
}
b {
  font-weight: 700;
}
a {
  text-decoration: none;
}
h2 {
  font-size: 2.4rem;
}
img {
  display: block;
  border-radius: 5px;
  max-width: 100%;
  height: auto;
}

// Cores
$color-c01: #f5f7fa;
$color-c02: #e6eaf0;
$color-c04: #c0c5cc;
$color-c05: #b2b8bf;
$color-c06: #989ea6;
$color-c07: #7e838c;
$color-c08: #636973;
$color-c09: #474d59;
$color-c10: #333b59;
$color-c11: #161822;
$color-c12: #0b0c12;
$color-b01: #7ecefc;
$color-b03: #609af2; //links
$color-b04: #547eec;
$color-b12: #3c006a;
$linear-gradiente: linear-gradient(180deg, $color-b01 0%, $color-b04 100%);

// Estilo para o ScrollBar
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: $color-c10;
}
::-webkit-scrollbar-thumb {
  background-color: $color-b03;
  border-radius: 10px;
}

.background {
  background: $color-c01;
  width: 100%;
}
.copy {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-block: 20px;
  background: $color-c01;
  font-size: 1.4rem;
  
}
.titulo {
  position: relative;
  font-size: 2.8rem;
}
.ponto {
  color: $color-b03;
}

.js [data-anime] {
  opacity: 0;
}

.js .fadeInDown {
  transform: translate3d(0, -20px, 0);
}

.js .anime {
  opacity: 1;
  transform: none;
  transition:
    opacity 800ms,
    transform 800ms;
}
