// Resets
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Fira Sans', sans-serif;
}
section {
  padding-block: 120px;
}
li {
  list-style: none;
}
p{
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 10px;
}

// Cores
$color-c01: #F5F7FA;
$color-c02: #E6EAF0;
$color-c04: #B2B8BF;
$color-c07: #7E838C;
$color-c08: #636973;
$color-c09: #474D59;
$color-c10: #363B47;
$color-c11: #161822;
$color-c12: #0B0C12;
$color-b01: #7ECEFC;
$color-b03: #609AF2;//links
$color-b04: #547EEC;
$color-b12: #3C006A;
$linear-gradiente: linear-gradient(180deg, $color-b01 0%, $color-b04 100%);

// Estilo para o conteúdo principal
.main-content, .nav{ 
  width: 1000px; // Largura do conteúdo principal
  margin: 0 auto; // Centraliza o conteúdo na página.
}

.titulo{
  font-size: 3.6rem;
}
.ponto{
  color: $color-b03;
}