@mixin custom-button($font-size: 1.6rem, $width: 100px, $height: 50px) {
  border: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  width: $width;
  height: $height;
  padding: 24px;
  background: $linear-gradiente;
  color: $color-b12;
  font-size: $font-size;
  font-weight: 700;
  line-height: 20px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  gap: 8px;
  &:hover {
    transform: scale(0.97);
    cursor: pointer;
  }
}

// estilos para o toggle
input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

// toggle para mudar o tema.
label {
  cursor: pointer;
  text-indent: -9999px;
  width: 40px;
  height: 24px;
  background: #333439;
  display: block;
  border-radius: 100px;
  position: relative;
  top: -6px;
}

label:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 3px;
  bottom: 4px;
  width: 22px;
  height: 22px;
  background: #f5f7fa;
  border-radius: 50%;
  transition: 0.3s;
}

input:checked + label {
  background: $color-c11;
}

// animação do toggle
input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  //Largura de deslocamento da aninmação do toggle
  width: 30px;
}
