.grid-item--experiencia {
  grid-column: span 12;
  .btn-2{
    @include custom-button(1.6rem, 190px, 50px);
  }
}

.grid-item--experiencia:nth-child(2) {
  grid-column: 6;
  grid-column: 1 / span 6;
}
.grid-item--experiencia:nth-child(3) {
  grid-column: 6;
  grid-column: 7 / span 6;
}

.grid-item--experiencia:nth-child(4){
  grid-column: 5 / span 2;
  margin-left: 60px;

}

.card-experiencia {
  margin: 0 auto;
  background-color: $color-c02;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  max-width: 100%;
  border-radius: 10px;
  border: 1px solid $color-b04;
  padding: 32px;
  gap: 8px;
  max-width: 100%;
  align-items: center;
  .descricao-card {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 20px;
  }
  .btn{
    @include custom-button(1.6rem, 120px, 50px);
    img{
      width: 24px;
    }
  }
  .btn-align{
    display: flex;
    justify-content: space-evenly;
    margin-inline: 20px;
  }
  span{
    font-size: 1.4rem;
    text-transform: lowercase;
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
  }
}
