.experiencia {
  font-size: 3.6rem;
}

.grid-item--experiencia {
  grid-column: span 12;
  .btn-2{
    @include custom-button(185px, 50px);
  }
}

.grid-item--experiencia:nth-child(2) {
  grid-column: 6;
  grid-column: 1 / span 6;
}
.grid-item--experiencia:nth-child(3) {
  grid-column: 6;
  grid-column: 7 / span 6;
}

.grid-item--experiencia:nth-child(4){
  grid-column: 5 / span 2;
  margin-left: 60px;

}

.card-experiencia {
  margin: 0 auto;
  background-color: $color-c02;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  border-radius: 10px;
  border: 1px solid $color-b04;
  padding: 40px;
  align-items: center;
  img {
    width: 440px;
    height: auto;
  }
  p {
    font-family: "Roboto", sans-serif;
    font-size: 1.4rem;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 20px;
  }
  .btn{
    @include custom-button(130px, 50px);
    margin-left: 40px;
  }
}
