
/* Footer */
.footer {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: $component-color;
}

.footer div {
  text-align: center;
}

.contato-footer{
	display: flex;
	justify-content: center;
	margin: 10px;
	li{
		text-align: center;
		margin: 10px;
		cursor: pointer;
		border-radius: 5px;
		
	}
	a{
		color: $text-color;
	}
	a:hover{
		color: #000;
	}
}
