.grid-item--footer {
  padding-block: 60px;
  grid-column: span 4;
}

.grid-item--footer:nth-child(2) {
  //Contato
  grid-column: span 4;
  grid-column: 6 / span 4;

  .redes-footer {
    display: flex;
    img {
      width: 40px;
      padding-right: 14px;
      margin-left: -4px;
      &:hover {
        transform: scale(0.95);
      }
    }
  }
}
.grid-item--footer:nth-child(3) {
  //Informações
  grid-column: span 2;
}

.footer {
  h1 {
    font-size: 3.2rem;
    line-height: 32px;
    margin-bottom: 20px;
    color: $color-c11;
  }
  P {
    font-family: "Fira Sans", sans-serif;
    font-size: 2rem;
    line-height: 32px;
  }
  h2 {
    margin-bottom: 20px;
    line-height: 32px;
  }
  li {
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
    margin-bottom: 8px;
  }
  a {
    color: $color-c12;
    &:hover {
      color: $color-b03;
      text-decoration: underline;
    }
  }
}
