// Estilo para o grid container [block]
.grid-container{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 40px;
}

.grid-item--introducao{
  grid-column: span 6;
}
.grid-item--introducao:nth-child(2){
  grid-column: span 4;
  grid-column: 8 / span 4;
}
.grid-item--introducao:nth-child(3){
  grid-column: span 1;
}