// Estilo para o grid container [block]
.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 40px;
  width: 1000px;
  margin: 0 auto;
}

//* Estilos para dispositivos móveis pequenos (320px a 480px) */
@media (min-width: 320px) and (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

/* Estilos para dispositivos móveis médios (481px a 768px) */
@media (min-width: 481px) and (max-width: 767px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}

/* Estilos para tablets e telas pequenas (769px a 1279px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
  }
}

/* Estilos para telas maiores (1280px e acima) */
@media (min-width: 1025px) and (max-width: 1280px) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
    gap: 40px;
  } 
}

/* Estilos para telas maiores (1280px e acima) */
@media (min-width: 1281px) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
    gap: 40px;
  }
}
