.grid-item--servicos{
  grid-column: span 12; 
}

.grid-item--servicos:nth-child(2){
  grid-column: 1 / span 3;
}

.grid-item--servicos:nth-child(3){
  grid-column: 5 / span 3;
}

.grid-item--servicos:nth-child(4){
  grid-column: 9 / span 3;
}

.servicos{
  padding-block: 80px;
}

.card-servicos{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 230px;
  height: 330px;
  background: $color-c02;
  border: 1px solid $color-b03;
  border-radius: 5px;
  padding: 40px;
  img{
    width: 100px;
  }
  h2{
    font-size: 3.2rem;
    padding: 20px;
  }
}