/* Introdução */
.introducao {
	padding-top: 50px;
  width: 100%;
	img{
		border: 3px solid $component-color;
	}
}

.logo{
	font-size: $title-small;
	width: 150px;
}


.avatar {
  width: auto;
  height: auto;
  max-width: 250px;
  max-height: 250px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.nome {
  font-size: $title-medium;
  line-height: 24px;
}

.cargo {
  margin-bottom: 21px;
}

/* Sobre */
#sobre {
	height: 100vh;
	p{
		line-height: 24px;
	}
}
.sobre {
  width: 100%;
	margin-top: 85px;
	p{
		line-height: 24px;
	}
}

.titulo-sobre {
  @include Titulo;
}