/* Introdução */
.introducao {
  width: 100%;
}

.logo{
	font-size: $title-small;
	width: 150px;
}

/* Sobre */
#sobre {
	height: 100vh;
	p{
		line-height: 24px;
	}
}
.sobre {
  width: 100%;
	padding-top: 70px;
  // // margin: 57px 0 40px 0;
	// p{
	// 	line-height: 24px;
	// }
}

.titulo-sobre {
  font-size: $title-medium;
  line-height: 24px;
  margin-bottom: 21px;
}