// estilos para o tema dark
.dark {
  background: $color-c12;
  h1 {
    color: $color-c01;
  }
  h2 {
    color: $color-c02;
  }
  a {
    color: $color-b03;
  }
  p,
  li {
    color: $color-c04;
  }
  span {
    color: $color-c07;
  }
  .background,
  .copy {
    background: $color-c11;
  }
  .header {
    background: $color-c12;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
    color: #f5f7fa;
    
  }
  .burger{
    border-top: 3px solid $color-b03;
  }
  .burger::after,
  .burger::before {
    background: $color-b03;
    
  }
  .container {
    background: #333439;
    color: #f5f7fa;
  }
  .logo,
  .nav-list a {
    color: #f5f7fa;
    b {
      color: $color-b03;
    }
  }
  .nav-list{
    background: $color-c12
  }
  .nav {
    background: $color-c12;
  }
  .card-experiencia {
    background-color: $color-c10;
    .titulo-projeto{
      color: $color-c02;
    }
    .tags-projeto {
      color: $color-c04;
    }
  }
  .card-servicos{
    background: $color-c10;
  }
  .grid-item--footer:nth-child(3) {
    a {
      color: $color-c04;
    }
  }
  .accordion-item{
    background-color: $color-c11;
    .tipo-formacao,
    .instituto-formacao,
    .tags-formacao-header,
    .tags-formacao-content{
      color: $color-c08;
    }
    .descricao-formacao{
      color: $color-c04;
    }
  }
}
