// estilos para o tema dark
.dark {
  background: #000;
  .header {
    background: #000;
    color: #F5F7FA;
  }
  .container {
    background: #333439;
    color: #F5F7FA;
  }
  .logo,
  .nav-list a {
    color: #F5F7FA;
  }
  .introducao--item{
    h1{
      color: $color-c01;
    }
    p {
      color: $color-c04;
    }
    a{
      color: $color-b03;
    }
  }
  
}

// estilos para o toggle
input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

// Background toggle
label {
  cursor: pointer;
  text-indent: -9999px;
  width: 45px;
  height: 25px;
  background: #333439;
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: #F5F7FA;
  border-radius: 50%;
  transition: 0.3s;
  
}

input:checked + label {
  background: #1c1c1c;
}

// animação do toggle
input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 40px;
}