// estilos para o tema dark
.dark {
  background: $color-c12;
  h1{
    color: $color-c01;
  }
  p {
    color: $color-c04;
  }
  a{
    color: $color-b03;
  }
  span{
    color: $color-c07;
  }
  .background, .copy{
    background: $color-c11;
  }
  .header {
    background: $color-c12;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .5);
    color: #F5F7FA;
  }
  .container {
    background: #333439;
    color: #F5F7FA;
  }
  .logo,
  .nav-list a {
    color: #F5F7FA;
  }
  .nav{
    background: $color-c12;
  }
  .card-experiencia{
    background-color: $color-c10;
  }
}