@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 .1rem 0;
  font-family: 'Fira Code', monospace;
  font-size: 500;
  background-color: #121214;
  color: #fbfbfb;
}

h1, h2, h3, h4 {
  color: #fbfbfb;
  font-weight: 600;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  padding: 0 50px;
}

.logo {
  font-size: 20px;
  width: 150px;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #121214;
  padding: 20px 0;
  z-index: 10;
  background: #5352ed;
}

.header_menu {
  text-align: right;
}

.header_menu ul li {
  display: inline-block;
  margin-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header_menu ul li a {
  color: #fbfbfb;
  font-size: 17px;
  line-height: 25px;
  padding: 10px 0;
}

.header_menu ul li a:hover {
  color: #000;
  font-weight: 600;
}

.header_menu ul li a.menu_ativo {
  color: #5352ed;
}

/* Introdução */
.introducao {
  width: 100%;
  margin-top: -50px;
}

/* Sobre */
.sobre {
  width: 100%;
  padding: 150px 0;
  margin: 100px 0 40px 0;
}

.titulo-sobre {
  font-size: 32px;
  line-height: 24px;
  margin-bottom: 21px;
}

/* Projetos */
.projetos {
  background: #202024;
  padding-bottom: 100px;
}

.titulo-projetos {
  font-size: 32px;
  line-height: 24px;
  padding-top: 100px;
  margin-bottom: 60px;
  text-align: center;
}

.projetos_lista h2 {
  font-size: 18px;
  margin: 20px 20px;
}

.projetos_lista p {
  margin: 20px;
}

.link_github {
  font-size: 18px;
  padding: 100px 50px;
  text-align: center;
  color: #5352ed;
}

/* Serviços */
.servicos {
  padding-top: 120px;
  padding-bottom: 100px;
  text-align: center;
}

.titulo_servicos {
  font-size: 32px;
  line-height: 24px;
  margin-bottom: 60px;
  text-align: center;
}

.servicos_lista h2 {
  font-size: 16px;
  font-weight: 600;
  /* margin: 20px 20px; */
}

.servicos_lista p {
  padding-top: 15px;
  font-size: 14px;
}

/* Conhecimentos */
#conhecimentos {
  width: 100%;
  padding: 170px 170px;
  background: #202024;
}

.titulo_conhecimentos {
  font-size: 32px;
  line-height: 24px;
  margin-bottom: 40px;
}

/* Footer */
.footer {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 80px;
  background-color: #5352ed;
}

.footer div {
  text-align: center;
}

/* AVATAR */
.avatar {
  width: auto;
  height: auto;
  max-width: 230px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.nome {
  font-size: 32px;
  line-height: 24px;
}

.cargo {
  margin-bottom: 21px;
}

.btn {
  width: 250px;
  height: 55px;
  border-radius: 5px;
  color: #fbfbfb;
  cursor: pointer;
  background: #5352ed;
  font-family: "Fira Code", monospace;
  font-weight: 600;
  border: 0;
  margin-top: 30px;
}

.btn:hover {
  background: #3e29fc;
}

.btn-linkedin, .btn-curriculo {
  width: 175px;
  height: 55px;
  margin-top: 35px;
  border-radius: 5px;
  background: #5352ed;
  font-family: "Fira Code", monospace;
  font-weight: 600;
  color: #fbfbfb;
  border: 0;
  cursor: pointer;
}

.btn-linkedin {
  margin-right: 10px;
}

.btn-curriculo {
  margin-left: 10px;
}

.btn-curriculo:hover {
  background-color: #3e29fc;
}

.btn-linkedin:hover {
  background-color: #3e29fc;
}

.projetos_lista li {
  max-width: 348px;
  height: 300px;
  padding: 30px;
  margin: 10px;
  background: #121214;
  border-radius: 5px;
}

.btn_git {
  max-width: 130px;
  height: 35px;
  padding: 10px 10px;
  margin: 10px 10px 10px 20px;
  border-radius: 5px;
  background: #5352ed;
  font-family: "Fira Code", monospace;
  color: #fbfbfb;
  border: 0;
  cursor: pointer;
}

.btn_git:hover {
  background-color: #3e29fc;
  cursor: pointer;
}

.servicos_lista li {
  max-width: 250px;
  height: 350px;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  background: #202024;
}

.icons {
  width: 50px;
  height: 50px;
  margin-top: 45px;
  margin-bottom: 35px;
  color: #5352ed;
}

.skills_lista li {
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 20px;
  border-radius: 10%;
  background: #121214;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */