* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Fira Sans", sans-serif;
}

section {
  padding-block: 120px;
}

li {
  list-style: none;
}

p {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 10px;
}

.main-content, .nav {
  width: 1000px;
  margin: 0 auto;
}

.titulo {
  font-size: 3.6rem;
}

.ponto {
  color: #609AF2;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-flow: row;
  gap: 40px;
}

.grid-item--introducao {
  grid-column: span 6;
}

.grid-item--introducao:nth-child(2) {
  grid-column: span 4;
  grid-column: 8/span 4;
}

.grid-item--introducao:nth-child(3) {
  grid-column: span 1;
}

/* Media query para dispositivos com largura entre 768px e 991px (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr); /* Grid de 4 colunas para tablets */
  }
}
/* Media query para dispositivos com largura menor que 768px (smartphones) */
@media (max-width: 767px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* Grid de 2 colunas para smartphones */
  }
}
.dark {
  background: #0B0C12;
}
.dark h1 {
  color: #F5F7FA;
}
.dark p {
  color: #B2B8BF;
}
.dark a {
  color: #609AF2;
}
.dark .header {
  background: #0B0C12;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
  color: #F5F7FA;
}
.dark .container {
  background: #333439;
  color: #F5F7FA;
}
.dark .logo,
.dark .nav-list a {
  color: #F5F7FA;
}
.dark .nav {
  background: #0B0C12;
}
.dark .card-experiencia {
  background-color: #161822;
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 45px;
  height: 25px;
  background: #333439;
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  bottom: 3px;
  width: 20px;
  height: 20px;
  background: #F5F7FA;
  border-radius: 50%;
  transition: 0.3s;
}

input:checked + label {
  background: #1c1c1c;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 40px;
}

.header {
  background: #F5F7FA;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  max-width: 100%;
}

.nav {
  background: #F5F7FA;
  height: 80px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.logo {
  font-family: "Fira Sans", sans-serif;
  font-size: 3.6rem;
  color: #0b0c12;
  font-weight: 700;
}

.nav-list {
  display: flex;
  gap: 20px;
}

.nav-list a {
  font-size: 2rem;
  color: #0b0c12;
}

.burger {
  display: none;
  border: none;
  background: none;
  border-top: 3px solid #000;
  cursor: pointer;
}

.burger::before,
.burger::after {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  background: #000;
  margin-top: 5px;
  position: relative;
  transition: 0.3s;
}

@media (max-width: 750px) {
  .burger {
    display: block;
    z-index: 1;
  }
  .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    background: #0B0C12;
    -webkit-clip-path: circle(100px at 90% -15%);
    clip-path: circle(100px at 90% -15%);
    transition: 1s ease-out;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;
    pointer-events: none;
  }
  .nav-list a {
    font-size: 2.4rem;
    opacity: 0;
  }
  .nav-list li:nth-child(1) a {
    transition: 0.5s 0.2s;
  }
  .nav-list li:nth-child(2) a {
    transition: 0.5s 0.4s;
  }
  .nav-list li:nth-child(3) a {
    transition: 0.5s 0.6s;
  }
  .nav.active .nav-list {
    -webkit-clip-path: circle(1500px at 90% -15%);
    clip-path: circle(1500px at 90% -15%);
    pointer-events: all;
  }
  .nav.active .nav-list a {
    opacity: 1;
  }
  .nav.active .burger {
    position: fixed;
    top: 26px;
    right: 16px;
    border-top-color: transparent;
  }
  .nav.active .burger::before {
    transform: rotate(135deg);
  }
  .nav.active .burger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}
.titulo {
  font-size: 3.6rem;
}

.btn {
  border: none;
  display: inline-flex;
  align-items: center;
  border-radius: 10px;
  background: linear-gradient(180deg, #7ECEFC 0%, #547EEC 100%);
  width: 130px;
  height: 50px;
  padding: 20px;
  margin-left: 40px;
  color: #3C006A;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 24px;
}
.btn img {
  width: 20px;
  height: auto;
  margin: 5px;
}

.introcucao {
  height: 100%;
  align-items: center;
}
.introcucao .redes img {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.introcucao h1 {
  font-size: 6.4rem;
  line-height: 72px;
  padding-bottom: 5px;
}
.introcucao .foto-intro {
  border: 1px solid #547EEC;
}
.introcucao p {
  font-size: 1.8rem;
}
.introcucao p a {
  color: #547EEC;
}
.introcucao p a:hover {
  text-decoration: underline;
}

.experiencia {
  font-size: 3.6rem;
}

.grid-item--experiencia {
  grid-column: span 12;
}

.grid-item--experiencia:nth-child(2) {
  grid-column: 6;
  grid-column: 1/span 6;
}

.grid-item--experiencia:nth-child(3) {
  grid-column: 6;
  grid-column: 7/span 6;
}

.card-experiencia {
  margin: 0 auto;
  background-color: #E6EAF0;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  border-radius: 10px;
  border: 1px solid #547EEC;
  padding: 40px;
  align-items: center;
}
.card-experiencia img {
  width: 440px;
  height: auto;
}
.card-experiencia p {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 20px;
}