/* Fontes do google */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap');

/* Variáveis CSS */
:root{
	--header-height: 3rem;

	/* Cores*/
	--backgound-color: #121214;
	--backgound-light-color: #fbfbfb;
	--fist-color: #5352ed;
	--text-color: #fff;
	--btn-hover: #3e29fc;

	/* Fontes e Tipografia */
	--body-font: 'Fira Code', monospace;

	/* Tamanho das Fontes */
	--texto-pequeno: 14px;
	--texto-medio: 16px;
	--texto-grande: 18px;
	--titulo-pequeno: 24px;
	--titulo-medio: 36px;
	--titulo-grande: 48px; 

	/* Pesos das fontes */
	--font-medium: 500;
	--font-semi-bold: 600;

	/* Configurações do z-index */
	--z-tooltip: 10;
	--z-fixed: 100;
	--z-modal: 1000;

}

/* Base */
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html{
	scroll-behavior: smooth;
}

body{
	margin: 0 0 var(--header-height) 0;
	font-family: var(--body-font);
	font-size: var(--texto-medio);
	background-color: var(--backgound-color);
	color: var(--text-color);
}

h1, h2, h3, h4{
	color: var(--text-color);
	font-weight: var(--font-semi-bold);
}


.container{
	display: flex;
	justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  padding: 0px 50px;
} 

.logo{
	font-size: 20px;
	width: 150px;
}

.header{
	position: fixed;
	top: 0;
	width: 100%;
	background: var(--backgound-color);
	padding: 20px 0;
	z-index: var(--z-tooltip);
	/* background: #3f3f47; */
	background: var(--fist-color);
}

.header_menu{
	text-align: right;
}

.header_menu ul li {
	display: inline-block;
	margin-left: 48px;
	flex-direction: column;
	
}

.header_menu ul li a{
	color: #fbfbfb;
	font-size: 17px;
	line-height: 25px;
	padding: 10px 0;
}

.header_menu ul li a:hover{
	color: #000;
	font-weight: var(--font-semi-bold);
}

.header_menu ul li a.menu_ativo{
	color: var(--fist-color);
}

/* Introdução */

.introducao{
	width: 100%;
	margin-top: -50px;
	/* background-color: #5429fc; */
}



.nome{
	font-size: var(--titulo-pequeno);
		line-height: 24px;
		margin-bottom: 21px;
}

.btn{
	width: 225px;
	height: 55px;
	border-radius: 5px;
	color: #fbfbfb;
	cursor: pointer;
	background: var(--fist-color);
	font-family: var(--body-font);
	font-weight: var(--font-semi-bold);
	border: 0;
}


.btn:hover{
	background: #3e29fc;
}

/* AVATAR */
.avatar{
	width: 250px;
	height: 250px;
	border-radius: 50%;
	border: 400px #000;
	top: 1000px;
	/* position: relative; */
}

/* Sobre */

.sobre{
	width: 100%;
	/* background: #202024; */
	padding: 100px 0;
	margin: 100px 0 40px 0;
}
.sobre h1{
	font-size: var(--titulo-medio);
	line-height: 24px;
	margin-bottom: 21px;
}

.btn-linkedin, .btn-curriculo{
	width: 175px;
	height: 55px;
	margin-top: 35px;
	border-radius: 5px;
	background: var(--fist-color);
	font-family: var(--body-font);
	font-weight: var(--font-semi-bold);
	color: #fbfbfb;
	border: 0;
	cursor: pointer;
}

.btn-linkedin{
	margin-right: 10px;
}
.btn-curriculo{
	margin-left: 10px;
}

.btn-curriculo:hover{
	background: var(--btn-hover);
}
.btn-linkedin:hover{
	background: var(--btn-hover);
}


.footer{
	width: 100%;
	background-color: var(--fist-color);
}

.footer div{
	text-align: center;
}