/* Fontes do google */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap');

/* Variáveis CSS */
:root{
	/* --header-height: 3rem; */

	/* Cores*/
	--backgound-color: #121214;
	--backgound-color2: #202024;
	--backgound-light-color: #fbfbfb;
	--fist-color: #5352ed;
	--text-color: #fff;
	--btn-hover: #3e29fc;

	/* Fontes e Tipografia */
	--body-font: 'Fira Code', monospace;

	/* Tamanho das Fontes */
	--texto-pequeno: 14px;
	--texto-medio: 16px;
	--texto-grande: 18px;
	--titulo-pequeno: 24px;
	--titulo-medio: 32px;
	--titulo-grande: 48px; 

	/* Pesos das fontes */
	--font-medium: 500;
	--font-semi-bold: 600;

	/* Configurações do z-index */
	--z-tooltip: 10;
	--z-fixed: 100;
	--z-modal: 1000;

}

/* Base */
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html{
	scroll-behavior: smooth;
}

body{
	margin: 0 0 var(--header-height) 0;
	font-family: var(--body-font);
	font-size: var(--texto-medio);
	background-color: var(--backgound-color);
	color: var(--text-color);
}

h1, h2, h3, h4{
	color: var(--text-color);
	font-weight: var(--font-semi-bold);
}


.container{
	display: flex;
	justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  padding: 0px 50px;
} 

.logo{
	font-size: 20px;
	width: 150px;
}

.header{
	position: fixed;
	top: 0;
	width: 100%;
	background: var(--backgound-color);
	padding: 20px 0;
	z-index: var(--z-tooltip);
	background: var(--fist-color);
}

.header_menu{
	text-align: right;
}

.header_menu ul li {
	display: inline-block;
	margin-left: 48px;
	flex-direction: column;
	
}

.header_menu ul li a{
	color: #f3fbfb;
	font-size: 17px;
	line-height: 25px;
	padding: 10px 0;
}

.header_menu ul li a:hover{
	color: #000;
	font-weight: var(--font-semi-bold);
}

.header_menu ul li a.menu_ativo{
	color: var(--fist-color);
}

/* Introdução */

.introducao{
	width: 100%;
	margin-top: -50px;
}

/* AVATAR */
.avatar{
	width: auto;
	height: auto;
	max-width: 230px;
	border-radius: 50%;
	margin-bottom: 10px;
}

.nome{
	font-size: 32px;
	line-height: 24px;
}

.cargo{
	margin-bottom: 21px;
}

.btn{
	width: 250px;
	height: 55px;
	border-radius: 5px;
	color: #fbfbfb;
	cursor: pointer;
	background: var(--fist-color);
	font-family: var(--body-font);
	font-weight: var(--font-semi-bold);
	border: 0;
	margin-top: 30px;
}


.btn:hover{
	background: #3e29fc;
}



/* Sobre */

.sobre{
	width: 100%;
	padding: 150px 0;
	margin: 100px 0 40px 0;
}
.titulo-sobre{
	font-size: var(--titulo-medio);
	line-height: 24px;
	margin-bottom: 21px;
}

.btn-linkedin, .btn-curriculo{
	width: 175px;
	height: 55px;
	margin-top: 35px;
	border-radius: 5px;
	background: var(--fist-color);
	font-family: var(--body-font);
	font-weight: var(--font-semi-bold);
	color: #fbfbfb;
	border: 0;
	cursor: pointer;
}

.btn-linkedin{
	margin-right: 10px;
}
.btn-curriculo{
	margin-left: 10px;
}

.btn-curriculo:hover{
	background: var(--btn-hover);
}
.btn-linkedin:hover{
	background: var(--btn-hover);
}

/* Projetos */

.projetos{
	background: var(--backgound-color2);
	padding-bottom: 80px;
}

.titulo-projetos{
	font-size: var(--titulo-medio);
	line-height: 24px;
	padding-top: 100px;
	margin-bottom: 60px;
	text-align: center;
	
}

.projetos_lista li{
	max-width: 348px;
	height: 270px;
	padding: 20px;
	margin: 10px;
	background: var(--backgound-color);
	border-radius: 5px;
}

.projetos_lista h2{
	font-size: var(--texto-grande);
	margin: 20px 20px;
}

.projetos_lista p{
	margin: 20px;
}

.btn_git{
	max-width: 130px;
	height: 35px;
	padding: 10px 10px;
	margin: 10px 10px 10px 20px;
	border-radius: 5px;
	background: var(--fist-color);
	font-family: var(--body-font);
	color: #fbfbfb;
	border: 0;
	cursor: pointer;
}

.link_github{
	font-size: var(--texto-grande);
	padding: 100px 50px;
	text-align: center;
	color: var(--fist-color);

}

/* Serviços */

.servicos{
	padding-top: 100px;
	padding-bottom: 80px;
	text-align: center;
}

.titulo_servicos{
	font-size: var(--titulo-medio);
	line-height: 24px;
	margin-bottom: 60px;
	text-align: center;
}

.projetos_lista li{
	max-width: 348px;
	padding: 20px;
	margin: 10px;
	background: var(--backgound-color);
	border-radius: 5px;
}

.servicos_lista li{
	max-width: 250px;
	height: 300px;
	padding: 20px;
	margin: 10px;
	border-radius: 5px;
	background: var(--backgound-color2);
}

.servicos img{
	width: 50px;
	height: 50px;
	margin-top: 45px;
	margin-bottom: 35px;
}

.servicos_lista h2{
	font-size: var(--texto-medio);
	font-weight: var(--font-semi-bold);
	/* margin: 20px 20px; */
}

.servicos_lista p{
	padding-top: 15px;
}

/* Footer */
.footer{
	width: 100%;
	padding-top: 100px;
	padding-bottom: 80px;
	background-color: var(--fist-color);
}

.footer div{
	text-align: center;
}