@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Fira Sans", sans-serif;
}

li {
  list-style: none;
}

p {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 2.4rem;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 5px;
}

.background {
  background: #F5F7FA;
  width: 100%;
}

.copy {
  font-size: 1.4rem;
  background: #F5F7FA;
  padding-block: 20px;
  padding-left: 220px;
  display: flex;
}

.titulo {
  font-size: 2.8rem;
}

.ponto {
  color: #609AF2;
}

.dark {
  background: #0B0C12;
}
.dark h1 {
  color: #F5F7FA;
}
.dark p {
  color: #B2B8BF;
}
.dark a {
  color: #609AF2;
}
.dark span {
  color: #7E838C;
}
.dark .background, .dark .copy {
  background: #161822;
}
.dark .header {
  background: #0B0C12;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
  color: #F5F7FA;
}
.dark .container {
  background: #333439;
  color: #F5F7FA;
}
.dark .logo,
.dark .nav-list a {
  color: #F5F7FA;
}
.dark .nav {
  background: #0B0C12;
}
.dark .card-experiencia {
  background-color: #363B47;
}

.header {
  background: #F5F7FA;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.nav {
  height: 70px;
  align-items: center;
  z-index: 10;
}

.logo {
  font-family: "Fira Sans", sans-serif;
  font-size: 3.6rem;
  color: #0b0c12;
  font-weight: 700;
  grid-column: span 11;
}

.nav-list {
  display: flex;
  gap: 20px;
}

.nav-list a {
  font-size: 2rem;
  color: #0b0c12;
}

.burger {
  display: none;
  border: none;
  background: none;
  border-top: 3px solid #000;
  cursor: pointer;
}

.burger::before,
.burger::after {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  background: #000;
  margin-top: 5px;
  position: relative;
  transition: 0.3s;
}

@media (max-width: 750px) {
  .burger {
    display: block;
    z-index: 1;
  }
  .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    background: #0B0C12;
    -webkit-clip-path: circle(100px at 90% -15%);
    clip-path: circle(100px at 90% -15%);
    transition: 1s ease-out;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;
    pointer-events: none;
  }
  .nav-list a {
    font-size: 2.4rem;
    opacity: 0;
  }
  .nav-list li:nth-child(1) a {
    transition: 0.5s 0.2s;
  }
  .nav-list li:nth-child(2) a {
    transition: 0.5s 0.4s;
  }
  .nav-list li:nth-child(3) a {
    transition: 0.5s 0.6s;
  }
  .nav.active .nav-list {
    -webkit-clip-path: circle(1500px at 90% -15%);
    clip-path: circle(1500px at 90% -15%);
    pointer-events: all;
  }
  .nav.active .nav-list a {
    opacity: 1;
  }
  .nav.active .burger {
    position: fixed;
    top: 26px;
    right: 16px;
    border-top-color: transparent;
  }
  .nav.active .burger::before {
    transform: rotate(135deg);
  }
  .nav.active .burger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}
input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 40px;
  height: 25px;
  background: #333439;
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  bottom: 3px;
  width: 20px;
  height: 20px;
  background: #F5F7FA;
  border-radius: 50%;
  transition: 0.3s;
}

input:checked + label {
  background: #1c1c1c;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 32px;
}

.introcucao {
  padding-block: 160px;
  align-items: center;
}
.introcucao .redes img {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.introcucao .redes img:hover {
  transform: scale(0.95);
}
.introcucao h1 {
  font-size: 6.4rem;
  line-height: 72px;
  padding-bottom: 5px;
}
.introcucao .foto-intro {
  border: 1px solid #547EEC;
}
.introcucao p {
  font-size: 1.8rem;
}
.introcucao p a {
  color: #547EEC;
}
.introcucao p a:hover {
  text-decoration: underline;
}

.grid-item--experiencia {
  grid-column: span 12;
}
.grid-item--experiencia .btn-2 {
  border: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  width: 190px;
  height: 50px;
  padding: 24px;
  background: linear-gradient(180deg, #7ECEFC 0%, #547EEC 100%);
  color: #3C006A;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 20px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
}
.grid-item--experiencia .btn-2:hover {
  transform: scale(0.97);
  cursor: pointer;
}

.grid-item--experiencia:nth-child(2) {
  grid-column: 6;
  grid-column: 1/span 6;
}

.grid-item--experiencia:nth-child(3) {
  grid-column: 6;
  grid-column: 7/span 6;
}

.grid-item--experiencia:nth-child(4) {
  grid-column: 5/span 2;
  margin-left: 60px;
}

.experiencia {
  padding-block: 95px;
}

.card-experiencia {
  margin: 0 auto;
  background: #E6EAF0;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  max-width: 100%;
  border-radius: 10px;
  border: 1px solid #547EEC;
  padding: 20px;
  gap: 8px;
  max-width: 100%;
  align-items: center;
}
.card-experiencia .descricao-card {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 20px;
}
.card-experiencia .btn {
  border: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  width: 120px;
  height: 40px;
  padding: 24px;
  background: linear-gradient(180deg, #7ECEFC 0%, #547EEC 100%);
  color: #3C006A;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 20px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
}
.card-experiencia .btn:hover {
  transform: scale(0.97);
  cursor: pointer;
}
.card-experiencia .btn img {
  width: 24px;
}
.card-experiencia .btn-align {
  display: flex;
  justify-content: space-evenly;
  margin-inline: 20px;
}
.card-experiencia span {
  font-size: 1.4rem;
  text-transform: lowercase;
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}

.grid-item--footer {
  grid-column: span 4;
}

.grid-item--footer:nth-child(2) {
  grid-column: 6;
  grid-column: 6/span 4;
}

.grid-item--footer:nth-child(3) {
  grid-column: 6;
  grid-column: 9/span 3;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-flow: row;
  gap: 40px;
  width: 1000px;
  margin: 0 auto;
}

.grid-item--introducao {
  grid-column: span 6;
}

.grid-item--introducao:nth-child(2) {
  grid-column: span 4;
  grid-column: 8/span 4;
}

.grid-item--introducao:nth-child(3) {
  grid-column: span 1;
}

/* Estilos para telas médias (1024px a 1439px) */
@media (min-width: 1024px) and (max-width: 1439px) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
    gap: 40px;
  }
  section {
    padding-block: 80px;
  }
  .main-content,
  .nav {
    max-width: 900px;
    margin: 0 auto;
  }
  .main-content .titulo,
  .nav .titulo {
    font-size: 2.8rem;
  }
  .nav {
    height: 70px;
  }
  .introcucao h1 {
    font-size: 5.4rem;
    line-height: 54px;
  }
  .introcucao p {
    font-size: 1.6rem;
  }
  .grid-item--experiencia .btn-2 {
    border: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    width: 170px;
    height: 40px;
    padding: 24px;
    background: linear-gradient(180deg, #7ECEFC 0%, #547EEC 100%);
    color: #3C006A;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 20px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  }
  .grid-item--experiencia .btn-2:hover {
    transform: scale(0.97);
    cursor: pointer;
  }
  .card-experiencia img {
    width: 400px;
  }
  .card-experiencia p {
    font-size: 1.4rem;
  }
  .card-experiencia .btn {
    border: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    width: auto;
    height: 40px;
    padding: 24px;
    background: linear-gradient(180deg, #7ECEFC 0%, #547EEC 100%);
    color: #3C006A;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 20px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
    margin-left: 40px;
  }
  .card-experiencia .btn:hover {
    transform: scale(0.97);
    cursor: pointer;
  }
}