/*Estilo para tablets*/

@media only screen and (min-width: 788px) and (max-width: 979px) {
	/* MENU */
	.logo{
		font-size: 18px;
		width: 100px;
	}

	.header{
		position: relative;
	}

	.header_menu ul li{
		margin-left: 20px;
	}

	.header_menu ul li a{
		font-size: 15px;
		line-height: 23px;
	}
	
	/* Introdução sobre mim */

	.avatar{
		
		max-width: 227px;
		margin-bottom: 0px;
	}

	.nome{
		font-size: 22px;
		line-height: 20px;
	}

	.cargo{
		margin-bottom: 0;
		font-size: 14px;
	}
	.introducao{
		margin-top: 15px;
	}

	.btn{
		width: 150px;
		padding: 15px 25px;
		font-size: 14px;
		margin-top: 95px;
	}

	.sobre{
		margin: 25px 0 20px 0;
	}

	.titulo-sobre{
		font-size: 22px;
		line-height: 20px;
		margin-bottom: 20px;
	}

	.sobre p{
		line-height: 20px;
		font-size: 14px;
	}

	.btn-linkedin, .btn-curriculo{
		margin: 20px 10px 0 auto;
		width: 150px;
		padding: 15px 20px;
		font-size: 14px;
	}

	/* Projetos */

	

	.titulo-projetos{
		font-size: 22px;
		line-height: 20px;
		padding-top: 50px;
		margin-bottom: 30px;
	}

	.projetos_lista h2{
		font-size: 16px;
		margin: 10px 10px;
	}
	.projetos_lista p{
		margin: 10px;
		font-size: 14px;
	}
	.projetos_lista li{
		width: 320px;
		margin: 5px;
	}

	.btn_git{
		display: flex;
		justify-content: space-between;
		max-width: 100px;
		font-size: 14px;
	}
}


/* Final do estilo para tablets */


/*Estilo para smartphone*/

@media only screen and (max-width: 787px) {
    
}


/* Final do estilo para smartphone */