/* Serviços */
.servicos {
	padding-top: 140px;
	height: 100vh;
  text-align: center;	
}

.titulo_servicos {
  @include Titulo;
  margin-bottom: 60px;
  // text-align: center;
}

.servicos_lista{ 
	li {
  max-width: 250px;
  height: 350px;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  background: $secondary-color;
	}
	h2 {
  font-size: $text-medium;
  font-weight: $font-semi-Bold;
	}
	p {
  padding-top: 15px;
  font-size: $text-small;
	}
}